[include]
  path = ~/repos/github.com/bundai223/dotfiles/config/.gitconfig

[user]
  name = bundai223
  email = bundai223@gmail.com

[ghq]
  root = ~/repos

# private    ==========
# [ghq "https://github.com/"]
#   root = ~/repos
#
# [ghq "https://gitlab.com/"]
#   root = ~/repos
#
# [ghq "ssh://git@github.com"]
#   root = ~/repos
#
# [ghq "ssh://git@gitlab.com"]
#   root = ~/repos
#
# [includeIf "gitdir:~/repos/"]
#   path = ~/repos/.gitconfig
#
# # 会社用設定 ==========
# [ghq]
#   root = ~/work
#
# [includeIf "gitdir:~/work/"]
#   path = ~/work/.gitconfig
